<%= form_for product do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr><tr>
      <td><%= f.label :price %></td>
      <td><%= f.number_field :price %></td>
    </tr><tr>
      <td>Tax</td>
      <td>
        <%= radio_button_tag(:'product[tax]', 0) %>
        <%= label_tag(:'product[tax]', "Exempt") %>
        <%= radio_button_tag(:'product[tax]', 15) %>
        <%= label_tag(:'product[tax]', "Normal") %>
        <%= radio_button_tag(:'product[tax]', 25) %>
        <%= label_tag(:'product[tax]', "Import") %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag(:quantity, "Quantity") %></td>
      <td><%= number_field_tag(:quantity) %></td>
    </tr><tr>
      <td><%= label_tag(:'product[description]', "Description") %></td>
      <td><%= text_area_tag(:'product[description]', "", size: '50x5') %></td>
    </tr>
  </table>
  <%= f.submit %>


<% end %>
